*{
    color: white;
}
.container{
    background-image: url('../../../../assets/default.jpg');
    height: 91vh;
}
.input {
    // box-shadow: ;
    border: 1px dotted white;
    border-radius: 5px;
    margin-top: 5%;
}
.vs{
    margin: auto;
    margin-top: 5%;
    text-align: center;
    align-items: center;
}
.btn ion-button {
    width: 100%; 
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,-0%);
}