<ion-header>
  <ion-toolbar>
    <ion-title>DSTV psl</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container ion-padding">
    <div class="input">
      <ion-input autocapitalize clearInput [(ngModel)]="homeTeam" placeholder="enter home team" fill="outline" type="text"></ion-input>
    </div>
    <div class="vs">
      <ion-text>VS</ion-text>
    </div>
    <div class="input">
      <ion-input  fill="outline" [(ngModel)]="awayTeam" placeholder="enter away team" clearInput type="text"></ion-input>
    </div>

<div class="btn ">
  <ion-button (click)=" toCounter() " >
    Play Game
  </ion-button>
</div>

</div>
</ion-content>
