<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>Match day</ion-title>
    
    <ion-buttons slot="end">
      <ion-button><ion-icon name="stats-chart-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="6" id="div">
        <div class="teamName"><ion-text><b>{{homeTeam}}</b></ion-text></div>
        <div class="score size">
          <ion-text><b>Score</b></ion-text>
          <br>
          <ion-text>{{goal1}}</ion-text>
        </div>

        <div class="btns size">
          <!-- <ion-buttons> -->
            <ion-button (click)=" setNum('home')" >Goal</ion-button>
            <ion-button (click)="setOffside('home')">Offside</ion-button>
            <ion-button (click)="setYellow('home')">Yellow</ion-button>
            <ion-button (click)="setRed('home')">Red</ion-button>
          <!-- </ion-buttons> -->
        </div>
     
      </ion-col>
      <ion-col>
        <div class="teamName"><ion-text><b>{{awayTeam}}</b></ion-text></div>
        <div class="score size">
          <ion-text><b>Score</b></ion-text>
          <br>
          <ion-text>{{goal2}}</ion-text>
        </div>

        <div class="btns size">
          <!-- <ion-buttons> -->
            <ion-button  (click)=" setNum('away')">Goal</ion-button>
            <ion-button  (click)="setOffside('away')">Offside</ion-button>
            <ion-button (click)="setYellow('away')">Yellow</ion-button>
            <ion-button (click)="setRed('away')">Red</ion-button>
          <!-- </ion-buttons> -->
        </div>

      </ion-col>



    </ion-row>
  </ion-grid>
</ion-content>