*{
    color: white;
}
.container{
    background-image: url('../../../../assets/default.jpg');

    height: 93vh;
    margin: auto;
    text-align: right;
    align-items: center;
}
#div {
    border-right: 1px solid gray;
}
.ion{
    padding-top: 5%;
}