<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>Statistics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-grid class="ion-padding">
      <ion-row>

        <ion-col size="6" id="div">
          <div class="ion">
            <ion-text class="ion"><b style="font-size: 20px;">{{home.name}}</b></ion-text>
          </div>
          <div class="ion">
            <ion-text class="ion">{{"Goals: "+home.goal}}</ion-text>
          </div>
          <div class="ion">
            <ion-text class="ion">{{"Offsides: "+home.offside}}</ion-text>
          </div>
          <div class="ion">
            <ion-text class="ion">{{"Yellow cards: "+home.yellow}}</ion-text>
          </div>
          <div class="ion">
            <ion-text class="ion">{{"Red cards: "+home.red}}</ion-text>
          </div>

        </ion-col>

        <ion-col>

            <div class="ion">
              <ion-text class="ion"><b style="font-size: 20px;">{{away.name}}</b></ion-text>
            </div>
            <div class="ion">
              <ion-text class="ion">{{"Goals: "+away.goal}}</ion-text>
            </div>
            <div class="ion">
              <ion-text class="ion">{{"Offsides: "+away.offside}}</ion-text>
            </div>
            <div class="ion">
              <ion-text class="ion">{{"Yellow cards: "+away.yellow}}</ion-text>
            </div>
            <div class="ion">
              <ion-text class="ion">{{"Red cards: "+away.red}}</ion-text>
            </div>
  

        

        </ion-col>

      </ion-row>

    </ion-grid>
  </div>

</ion-content>